<div class="newHeader">
  <h2 class="custom-header" mat-dialog-title>Patterns</h2>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/brokenbond.PNG"/>
      <p style="text-align: center;">Broken Bond</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/english.PNG"/>
      <p style="text-align: center;">English</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/flemish.PNG"/>
    <p style="text-align: center;">Flemish</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/stack.PNG"/>
    <p style="text-align: center;">Stack</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/herringbone_logo.PNG"/>
      <p style="text-align: center;">HerringBone</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/random_logo.PNG"/>
      <p style="text-align: center;">3 Size Random</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/random_logo.PNG"/>
    <p style="text-align: center;">4 Size Random</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/coursed_logo.PNG"/>
    <p style="text-align: center;">Coursed</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/randomCoursed_logo.png"/>
      <p style="text-align: center;">Random Coursed</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/random_logo.PNG"/>
      <p style="text-align: center;">3 Size Stretcher</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/random_logo.PNG"/>
    <p style="text-align: center;">4 Size Stretcher</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>

  <div fxLayout="column" style="height: 150px;width: 150px;margin: 15px ;box-shadow: 0 0 2px 0 rgba(100,100,100,1);">
    <mat-card  style="height: 120px;width: 150px;" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../../../../../assets/random_logo.PNG"/>
    <p style="text-align: center;">Opus</p>
    </mat-card>
    <div style="height: 30px;background: rgba(200,200,200,1);" fxLayout="row" fxLayoutAlign="center center" class="setup" (click)="openPatternDashboard()" matTooltip="Open Pattern Dashboard">
      <h5>Setup</h5>
      <h5 style="margin-left: 10px;">0/2</h5>
    </div>
  </div>
  
  

</div>

<mat-dialog-actions class="col-sm-12" align="end">
  <!-- <button mat-raised-button class="btn-primary" (click)="close()">
    Save
  </button> -->
  <button mat-raised-button class="CancelClass" (click)="close()">
    <!-- <mat-icon>cancel</mat-icon>&nbsp; -->
    Close
  </button>
</mat-dialog-actions>