* {
    font-family: 'Open Sans',sans-serif;
}
input{
   
    margin-bottom: 30px;
    width: 250px;
    border-radius: 5px;
  border: 1px solid #73AD21;
    border-color: darkgrey;
    height: 30px;
}

select{
    width: 250px;
    border-radius: 5px;
  border: 1px solid #73AD21;
    border-color: darkgrey;
    height: 30px;
}

.get-a-quote1{
    width: 450px;
    height: 100px;
    border-radius: 5px;
  border: 1px solid #73AD21;
    border-color: darkgrey;
}