<p class="col-sm-12" style="margin-top: 20px !important;">
    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Customer Name:</span>
    <span style="font-size: 16px; margin-right: 8px">Sojana</span>
    <!-- <span class="pull-right" style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>
    <span class="pull-right" style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span> -->

    <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>
<div class="row super-row" style="padding: 5px 24px 10px 23px">
    <a routerLinkActive="active-link" routerLink="/superadmin/customers/customer-dashboard/overview"
        class="col-sm font-color">Overview
        <br /> </a>
    <a routerLinkActive="active-link" routerLink="/superadmin/customers/customer-dashboard/property"
        class="col-sm font-color">Property
        <br /></a>
</div>

<div class="w-100">
    <div class="flex-p">
        <div class="row wrap">
            <div class="col-sm-12 no-padding">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

