<div class="row-wrap">
    <div class="w-100">
        <div class="row">
            <div class="col-xs-12">
                <div class="pills">
                    <ul class="nav nav-pills">
                        <li routerLinkActive="active">
                            <a mat-raised-button class="navtabWidth" [routerLink]="['/superadmin/members/member-dashboard/specs/products']">
                                 Spec 1
                            </a>
                        </li>
                        
                        <li routerLinkActive="active">
                            <a mat-raised-button class="navtabWidth" [routerLink]="['/superadmin/members/member-dashboard/specs/finish']">
                                 Spec 2
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a mat-raised-button class="navtabWidth" [routerLink]="['/superadmin/members/member-dashboard/specs/spec3']">
                                 Spec 3
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a mat-raised-button class="navtabWidth" [routerLink]="['/superadmin/members/member-dashboard/specs/color']">
                                 Spec 4
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a mat-raised-button class="navtabWidth" [routerLink]="['/superadmin/members/member-dashboard/specs/edge']">
                                 Edges
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  