td:first-child{
    color: blue;
    cursor: pointer;
  }
  
  .tab-width
  {width: 95px !important;}
  
  .fontClass {
    font-size: 19px!important;
  }
  
  .redClassColor {
    color: red;
  }
  
  .greenClassColor {
    color: green;
  }
  .inner-screen {
    color: #246ade !important;
    // text-decoration: underline !important;
    cursor: pointer;
  }