<div fxLayout="row"  style="padding: 5px 5px 10px 5px;margin-top: 30px;">
  <a routerLinkActive="active-link" [routerLink]="['/superadmin/pattern-dashboard/raw-images']"
    class="col-sm font-color">Raw Images
  </a>

  <a routerLinkActive="active-link" [routerLink]="['/superadmin/pattern-dashboard/sizes']"
    class="col-sm font-color">Sizes
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/superadmin/pattern-dashboard/joint-width']"
    class="col-sm font-color">Joint Width
  </a>

  <a routerLinkActive="active-link" [routerLink]="['/superadmin/pattern-dashboard/joint-color']"
    class="col-sm font-color">Joint Color
  </a>

  <a routerLinkActive="active-link" [routerLink]="['/superadmin/pattern-dashboard/preview']"
    class="col-sm font-color">Preview
  </a>
</div>
<router-outlet></router-outlet>
