
<h1  class="custom-header"mat-dialog-title> Add Spec</h1>
<div mat-dialog-content>
    <form novalidate >
      

      <div class="form-group row">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Select Raw Image:&nbsp;</label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="file"  style="width: 130px;"
          id="file"
         >
            <div  class="error-text">
                    <div >
                    </div> 
                </div>
        </div>
    </div>

      
      <div class="form-group row">
        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Pattern:&nbsp;</label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text"class="form-control"  maxlength="30"  placeholder="Enter Pattern Name" required>
            <div  class="error-text">
                    <div >
                    </div> 
                </div>
        </div>
    </div>


     
    <div class="form-group row">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Angle:&nbsp;</label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text"class="form-control"  maxlength="30"  placeholder="Enter Angle" required>
          <div  class="error-text">
                  <div >
                         
                  </div>
              </div>
      </div>
  </div>


   
  <div class="form-group row">
    <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Size:&nbsp;</label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="text"class="form-control"  maxlength="30"  placeholder="Enter Size" required>
        <div  class="error-text">
                <div >
                      
                </div>
            </div>
    </div>
</div>


 
<div class="form-group row">
  <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Joint Color:&nbsp;</label>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <input type="text"class="form-control"  maxlength="30" placeholder="Enter Joint Color" required>
      <div  class="error-text">
              <div >
                     
              </div>
          </div>
  </div>
</div>


 
<div class="form-group row">
  <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Grout Width:&nbsp;</label>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <input type="text"class="form-control"  maxlength="30"  placeholder="Enter Grout width" required>
      <div class="error-text">
              <div >
                     
              </div>
          </div>
  </div>
</div>



           
    </form>
</div>
<mat-dialog-actions align="end" class="width" style="padding-right: 15px !important;">
    <button mat-raised-button>Save</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Close</button>
</mat-dialog-actions>