.newMarginClass {
  margin-top: 7px;
}

.jumbotron {
  padding: 2px 14px 2px 14px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #ffffff;
}

.margin-top-20 {
  margin-top: 20px;
}

.img {
  width: 100%;
  margin: 15px 0 0 10px;
}

.col-sm {
  background-color: #222222;
  border-color: #fff;
  margin: 1px !important;
  height: 54px;
  padding-top: 15px;
  font-size: 19px;
  text-align: center;
  color: #eee;
  border-radius: 0px;
}

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-bottom-width: 2px;
  border: solid 1px;
}

.tab {
  background: #e0e0e0 !important;
  margin-right: 8px;
  padding: 0px 10px;
}
.tab-active {
  background: gray !important;
  color: white !important;
}
.font-color {
  font-size: 14px;
  color: white !important;
}
.col-sm.tm {
  background-color: #eee;
  border: 1px solid #bbb;
  margin: 15px !important;
  height: 54px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #444;
  border-radius: 4px;
}
.col-sm.active-prosp-link {
  background: #50636d !important;
  color: #eee;
}
.super-row > .active-prosp-link::after {
  z-index: 99;
  //content: "";
  position: absolute;
  bottom: -20px;
  left: 35%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #50636d;
}
.col-sm.tm.active-prosp-link {
  background: #50636d !important;
  color: #eee;
}

.col-sm.active-prosp-link > a:hover,
.col-sm.tm.active-prosp-link > a:hover {
  background: #50636d;
  box-shadow: 7px 6px 25px #7b7b7bee;
}
a:hover {
  color: #222;
  background: #70818a;
}
h4 {
  font-size: 14px;
}
.mr-8 {
  margin-right: 8px;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  cursor: not-allowed;
  color: red;
}
.disabled {
  cursor: not-allowed;
}
.breadcrumb {
  padding: 8px;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 0 6px;
  }
  .breadcrumb-title.active {
    text-transform: uppercase;
    font-weight: 500;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    content: '>>';
  }
}
.margin-right {
  margin-right: 8px;
}
.nomargin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.breadcrumb {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  background-color: #fafafa !important;
}
.bc {
  background: #e0e0e0 !important;
  border-left: 5px #50636d solid !important;
}
.new {
  background: #222;
  color: #ec0202 !important;
}
.flex-p {
  padding: 11px !important;
}

.disabled-class {
  background: gray;
  cursor: no-drop;
}

// new styles

.routing-layout {
  margin: 20px;
  padding: 20px;
}

.routing-table-layout {
  background: white;
  border-radius: 8px;
  height: auto;
  // padding-bottom: 20px;
  box-shadow: 0 0 2px 0 rgb(33, 40, 59);
  margin-top: 20px;
  overflow: hidden;
}

.routing-table-tab {
  padding: 0 10px;
  height: 45px;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  display: flex;
  justify-content: flex-start;
  .active {
    color: black;
    border-bottom: 3px solid rgb(51, 122, 183);
  }
}

.routing-table-tab a {
  font-size: 16px;
  color: rgba(135, 135, 135, 1);
  height: inherit;
  padding: 12px 20px 0 20px;
  cursor: pointer;
  margin-right: 20px;
}

.routing-table-tab a:hover {
  border-bottom: 3px solid rgba(150, 150, 150, 1);

  // box-shadow: 0 3px 0 0 rgba(150, 150, 150, 1);
}

table {
  width: 100%;
  border-spacing: 0px;
}

th,
td {
  padding: 15px 25px;
  border-top: 1px solid rgba(200, 200, 200, 1);
  border-bottom: 1px solid rgba(200, 200, 200, 1);
}

td {
  text-align: left;
}

.productName {
  font-weight: bold;
  cursor: pointer;
}

.productName:hover {
  text-decoration: underline;
  background: transparent;
}

.productName a:hover {
  background: transparent !important;
}

::ng-deep .mat-tab-label-active {
  background: transparent !important;
}
