
<!--<div fxLayout="row wrap" *ngIf="filterToggle">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
      <mat-card class="filter">
          <mat-card-content>
              <div class="row">
                  <div class="col-sm-4">
                      <div class="col-sm-4 newMarginClass">
                          Search by Name: 
                      </div>
                      <div class="col-sm-8">
                        <input type="text" placeholder="Enter Name" style="width: 200px; height:33px;  border: 1px solid black;text-align: center;border-radius: 5px;">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="col-sm-4 newMarginClass">
                          Search by Product: 
                      </div>
                      <div class="col-sm-8">
                        <input type="text" placeholder="Enter product name" style="width: 200px; height:33px;  border: 1px solid black;text-align: center;border-radius: 5px;">
                      </div>
                  </div>
                  
            
            
                  
                  <div class="col-lg-1" style="margin-left:195px!important;">
                      <button mat-raised-button (click)="fliterSearch()" class="pull-right btn-primary"><mat-icon>youtube_searched_for</mat-icon>GO</button>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                      <button mat-raised-button style="background-color:#37474f; color:#fff !important" (click)="clearFilters()"><mat-icon>settings_backup_restore</mat-icon> Clear</button>
                  </div>
                  <a (click)="filterToggle = !filterToggle" class="pull-right" style="font-size: 25px; cursor: pointer; margin-left: 5px;">
                      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                  </a>
                </div>
              
          </mat-card-content>
      </mat-card>
  </div>
</div>-->



<div>
  <div fxLayout="row wrap" >
    <div class="table-responsive topmargin" style="width:100% !important;margin-top: 50px;">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th >Full Name</th>
                    <th class="text-center" >Email</th>
                    <th class="text-center" >Phone Number</th>
                    <th class="text-center"  style="width: 400px ; ">Remarks</th>
                    <th class="text-center" >Products</th>
                    
                </tr>
            </thead>
            <tbody>
                

                
                <tr *ngFor="let item of items">
                    <td >{{item.Name}}</td>
                    <td class="text-center">{{item.Email}}</td>
                    <td class="text-center">{{item.Phone_Number}}</td>
                    <td class="text-center"  style="width:400px ; ">{{item.Remarks}}</td>
                    <td class="text-center"><a style="color: blue;cursor: pointer;" (click)="openIncidentDialog(item.Products)" class="productvalue">{{item.Products}}</a>  </td>
                  
                    
                </tr>
            </tbody>
        </table>
       
    </div>
</div>

</div> 
