
<div class="w-100" fxLayout="row" style="margin:7px 0;">
  <div class="col-xs-6 ">
  </div>
  <div class="col-xs-6 ">
      <div class="flex-p">
        <button mat-raised-button class="pull-right filters-hover margin-right-10" style="margin-left: 10px;"
          >
          <mat-icon>save</mat-icon> Save
        </button>
          <button mat-raised-button class="add-hover pull-right" style="background:#229494;color: white;margin-left: 10px;" ><mat-icon>keyboard_backspace</mat-icon> Back
          </button>
          
      
  </div>
  
</div>
</div>

<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

      

      

      <div fxLayout="row wrap">
          <div class="table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                  <thead class="tbl-head">
                      <tr class="tr-grid-header">
                          <th>Screen Permission</th>
                          <th class="text-center">Create</th>
                          <th class="text-center">Read</th>
                          <th class="text-center">Update</th>  
                          <th class="text-center">Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                    
                      <tr *ngFor="let item of values1">
                          <td>{{item.name}}</td>
                          <td class="text-center"><input type="checkbox"/></td>
                          <td class="text-center"><input type="checkbox"/></td>
                          <td class="text-center"><input type="checkbox"/></td>
                          <td class="text-center"><input type="checkbox"/></td>
                      </tr>
                      <!-- <tr>
                        <td colspan="5"  class="text-center" style="background: rgba(200,200,200,1);color: black;font-weight: bold;font-size:16px">Member</td>

                      </tr>
                      <tr *ngFor="let item of values2">
                        <td>{{item.name}}</td>
                        <td class="text-center"><input type="checkbox"/></td>
                        <td class="text-center"><input type="checkbox"/></td>
                        <td class="text-center"><input type="checkbox"/></td>
                        <td class="text-center"><input type="checkbox"/></td>
                      </tr> -->
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
