<!--This page is used to add or edit leads-->
<div>
    <div class="NewHeader">
        <h1 mat-dialog-title>
          <span *ngIf="!lead" class="title-left">Add</span>
          <span *ngIf="lead" class="title-left">Update</span> Lead
        </h1>
      </div>
    <mat-horizontal-stepper #stepper>
        <mat-step>
            <div mat-dialog-content>
                <form class="form-horizontal">
                    <ng-template matStepLabel>Basic Details</ng-template>
                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Lead Name : </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter Company Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-4 add-member-label">Campaign : </label>
                            <div class="col-sm-8">
                                <select name="campaign" class='form-control' required>
                                    <option Value="" selected>--Select Campaign--</option>
                                    <option class='option' *ngFor='let option of campaignOptions' [value]="option">{{option}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Segment : </label>
                        <div class="col-sm-8">
                            <select name="industry"  class='form-control' required>
                                <option Value="" selected>--Select Segment--</option>
                                <option class='option' *ngFor='let option of industryOptions' [value]="option">{{option}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-4 add-member-label">Research Analyst : </label>
                            <div class="col-sm-8">
                                <select name="bdm" class='form-control' required>
                                    <option Value="" selected>--Select Research Analyst--</option>
                                    <option class='option' *ngFor='let option of bdmsOptions' [value]="option">{{option}}</option>
                                </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label" for="pwd">Phone : </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter Contact Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label" for="pwd">Contact Person : </label>
                        <div class="col-sm-8">
                            <input type="email" email class="form-control" placeholder="Enter Contact Person Name" required>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label" for="pwd">Company Address : </label>
                        <div class="col-sm-8">
                            <textarea class="form-control txtarea" formControlName="addAddress" rows="2" placeholder="Enter Address" required></textarea>
                            <div *ngIf="!addAddress.valid && (addAddress.dirty || addAddress.touched)" class="error-text">
                                <div *ngIf="addAddress.errors.required">
                                Address is required
                                </div>
                            </div>
                        </div>
                    </div> -->
                </form>
            </div>
            <mat-dialog-actions align="end">
                <button mat-raised-button class="btn-primary" matStepperNext>Proceed</button>
                <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
            </mat-dialog-actions>
        </mat-step>

        <mat-step>
            <div mat-dialog-content>
                <form class="form-horizontal">
                    <ng-template matStepLabel>Address Details</ng-template>

                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label" for="pwd">ZIP Code : </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter postal code" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Country : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <!-- <input type="text" class="form-control" placeholder="" disabled required> -->
                        <select class='form-control' name="Select Location" required>
                            <option value="" selected>--Select Country--</option>
                            <option class='option' *ngFor='let option of countryList' [value]="option.country_short_code">{{option.country_name}}</option>
                        </select>
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">State / Province : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <!-- <input type="text" disabled class="form-control" placeholder="" required> -->
                        <select class='form-control' name="Select Location" required>
                            <option value="" selected>--Select State--</option>
                            <option class='option' *ngFor='let option of stateList' [value]="option.state_name">{{option.state_name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">City : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <!-- <input type="text" class="form-control" disabled placeholder="" required> -->
                        <select class='form-control' name="Select Location" required>
                            <option value="" selected>--Select City--</option>
                            <option class='option' *ngFor='let option of cityList' [value]="option.city_name">{{option.city_name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label" for="pwd">Contact Address : </label>
                        <div class="col-sm-8">
                            <textarea class="form-control txtarea" rows="2" placeholder="Enter contact address" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Time Zone : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <select class='select-option form-control ' required [(ngModel)]='timeOptionSelected' (ngModelChange)='onTimeOptionsSelected($event)' name="Select Time Zone">
                            <option class='option' [ngValue]="undefined" selected disabled  >--Select Time-Zone--</option>
                            <option class='option' *ngFor='let option of timeOptions' [value]="option">{{option}}</option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>
            <mat-dialog-actions align="end">
                <button mat-raised-button class="btn-primary" matStepperNext>Proceed</button>
                <button mat-raised-button class="add-dark-hover btn-default" matStepperPrevious>Back</button>
            </mat-dialog-actions>
        </mat-step>

        <mat-step>
            <div mat-dialog-content>
                <form class="form-horizontal">
                    <ng-template matStepLabel>Checklist</ng-template>
                    <div class="table-responsive" style="margin-top:10px">
                        <table class="table checklist-item">
                            <tbody>
                                <tr *ngFor='let item of checklistItems; let i = index'>
                                    <td valign='top'>
                                        <div >
                                            <input type="checkbox">
                                            <!-- <div *ngIf="!qualificationChecklist.controls[i].valid && (qualificationChecklist.controls[i].touched || qualificationChecklist.controls[i].dirty)" class="error-text">
                                                <div *ngIf="qualificationChecklist.controls[i].errors.required">
                                                    check 
                                                </div>
                                            </div>  -->
                                        </div>
                                    </td>
                                    <td> 
                                        <label  class="add-member-label">Qualification Criteria 1 &nbsp;</label>
                                    </td>
                                    <td>
                                        <div >
                                            <textarea class="form-control txtarea" rows="1" placeholder="Remarks" required></textarea> 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <mat-dialog-actions align="end">
                <button mat-raised-button class="add-hover" class="btn-primary" (click)="saveLead()"><span *ngIf="!lead">Save</span><span
                        *ngIf="lead">Update</span></button>
                <button mat-raised-button class="add-dark-hover btn-default" matStepperPrevious>Back</button>
            </mat-dialog-actions>
        </mat-step>
    </mat-horizontal-stepper>
</div>

