img {
  height: 130px;
  width: 150px;
  cursor: pointer;
}

.mat-card:hover {
  background: rgba(180, 180, 180, 1);
  cursor: pointer;
}

.mat-card {
  box-shadow: 0 0 3px 0 rgba(150, 150, 150, 1);
}
