img {
  margin: 0 15px;
  cursor: pointer;
}

mat-checkbox {
  margin: 0 20px;
}

// table {
//   width: 300px;
//   height: auto;
//   border-spacing: 5px;
// }

// thead {
//   background: blue;
// }

// td {
//   width: 100px;
// }

#patternCanvas {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
