 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="margin-top: 20px;">
  <div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-users fa-1x"></i>
          </div>
          <div class="details">
            <div class="number">
              Active Users  178
            </div>
            <div class="desc">
        
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-users fa-1x"></i>
          </div>
          <div class="details">
            <div class="number">
              Enquiries  3/75
            </div>
            <div class="desc">
               
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat ppurple-madison">
          <div class="visual">
            <i class="fa fa-users"></i>
          </div>
          <div class="details">
            <div class="number">
              MTD Payments  $4000
            </div>
            <div class="desc">
               
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat green-haze">
          <div class="visual">
            <i class="fa fa-percent"></i>
          </div>
          <div class="details">
            <div class="number">
              YTD Payments  $42,400
            </div>
            <div class="desc">
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-file"></i>
          </div>
          <div class="details">
            <div class="number">
              New Messages  5
            </div>
            <div class="desc">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat ppurple-madison">
          <div class="visual">
            <i class="fa fa-file"></i>
          </div>
          <div class="details">
            <div class="number">
              Expired Members  17
            </div>
            <div class="desc">
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left:7px !important;padding-right:7px !important;">
    <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">                
            <mat-card-subtitle><h2>Daily Trend of Active Users</h2></mat-card-subtitle>
        </mat-card-header>
        <div class="w-100 h-300p">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="analytics"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegends"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>                  
        </div>
    </mat-card>
  </div>
</div>

<div class="row ">
  <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
    <div class="flex-p"> 
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">                
          <mat-card-subtitle><h2>Member Distribution by Package</h2></mat-card-subtitle>
        </mat-card-header>
        <div class="w-100 h-300p">
          <ngx-charts-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [gradient]="gradient"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>                  
      </div>
    </mat-card>
  </div>
</div>
<div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
  <div class="flex-p"> 
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">                
        <mat-card-subtitle><h2>Member Distribution by Country</h2></mat-card-subtitle>
      </mat-card-header>
      <div class="w-100 h-300p">
        <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="singles"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>                  
    </div>
  </mat-card>
</div>
</div>
</div>

<!--<h3 style="text-align: center;">Sales Log</h3>
<div class="row"> 
  
  <div class="col-sm-4 mx-auto">
    <div class="col-12 text-center mb-4">
        <h5 class="fontClass">Top 5 Customers</h5>
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr>
                <th >Customer Name</th>
                <th class="text-center tab-width">Revenue </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of conversations">
                <td>{{item.lead_name}}</td>
                <td *ngIf="item.days" [ngClass] = "item.color ? 'redClassColor text-center':'greenClassColor text-center'" >{{item.days}}</td>
                <td *ngIf="!item.days" class="text-center">-</td>
                
            </tr>
        </tbody>
    </table>

</div> 
<div class="col-sm-4 mx-auto">
    <div class="col-12 text-center mb-4">
        <h5 class="fontClass">Incentives Dashboard</h5>
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr>
                <th >Customer Name</th>
                <th class="text-center tab-width" >Incentives </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of conversations">
                <td>{{item.lead_name}}</td>
                <td *ngIf="item.days" [ngClass] = "item.color ? 'redClassColor text-center':'greenClassColor text-center'" >{{item.days}}</td>
                <td *ngIf="!item.days" class="text-center">-</td>
                
            </tr>
        </tbody>
    </table>

</div> 
<div class="col-sm-4 mx-auto">
    <div class="col-12 text-center mb-4">
        <h5 class="fontClass">Commissions Earned</h5>
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
            <tr>
                <th >Customer Name</th>
                <th class="text-center tab-width">Commission </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of conversations">
                <td>{{item.lead_name}}</td>
                <td *ngIf="item.days" [ngClass] = "item.color ? 'redClassColor text-center':'greenClassColor text-center'" >{{item.days}}</td>
                <td *ngIf="!item.days" class="text-center">-</td>
               
            </tr>
        </tbody>
    </table>

</div> 
</div>

<div class="row"> 
    <div class="col-sm-4 mx-auto">
      <div class="col-12 text-center mb-4">
          <h5 class="fontClass">Commissions Paid</h5>
      </div>
      <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
              <tr>
                  <th >Customer Name</th>
                  <th class="text-center tab-width">Paid </th>
                 
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of conversations">
                  <td>{{item.lead_name}}</td>
                  <td *ngIf="item.days" [ngClass] = "item.color ? 'redClassColor text-center':'greenClassColor text-center'" >{{item.days}}</td>
                  <td *ngIf="!item.days" class="text-center">-</td>
                  
              </tr>
          </tbody>
      </table>
  
  </div> 
  <div class="col-sm-4 mx-auto">
      <div class="col-12 text-center mb-4">
          <h5 class="fontClass">Commissions Payable</h5>
      </div>
      <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
              <tr>
                  <th >Customer Name</th>
                  <th class="text-center tab-width" >Payable </th>
                  
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of conversations">
                  <td>{{item.lead_name}}</td>
                  <td *ngIf="item.days" [ngClass] = "item.color ? 'redClassColor text-center':'greenClassColor text-center'" >{{item.days}}</td>
                  <td *ngIf="!item.days" class="text-center">-</td>
                  
              </tr>
          </tbody>
      </table>
  
  </div> 
 
  </div>
</div> 

<div class="row d-flex">
  <div class="col-6 mx-auto middle">
    <img style="margin-top: 15%; display: flex; margin-left: auto; margin-right: auto;" src="/assets/img/under-construction.png" height="400px" alt="under-construction">
  </div>
</div>-->