.mine{
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #e6e6e6 !important;
}

.margins {
    margin-bottom: 12px;
}
.newMarginClass {
    margin-top: 7px!important;
}
.inner-screen {
    color: #246ade !important;
    cursor: pointer;
}