
<p class="col-sm-12" style="margin-top: 20px !important;">
   
</p>
<div class="row super-row" style="padding: 5px 24px 10px 23px">
    <a routerLinkActive="active-link" routerLink="/member/setup/activity"
        class="col-sm font-color">Activity
        <br /> </a>
    <!-- <a routerLinkActive="active-link" routerLink="/member/setup/overview"
        class="col-sm font-color">Overview
        <br /></a> -->

    <a routerLinkActive="active-link" routerLink="/member/setup/category"
        class="col-sm font-color">Categories
        <br />
    </a>
    <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/scope" class="col-sm font-color">Scope
      <br /></a> -->
    <!-- <a routerLinkActive="active-link" routerLink="/beacon/manage/projects/project-dashboard/budget" class="col-sm font-color">Budget
      <br /></a> -->
      <a  routerLinkActive="active-link" routerLink="/member/setup/subcategories"
      class="col-sm font-color">Subcategories
      <br /></a>
      <a  routerLinkActive="active-link" routerLink="/member/setup/views"
      class="col-sm font-color">Views
      <br /></a>
    <a routerLinkActive="active-link" routerLink="/member/setup/products"
        class="col-sm font-color">Products
        <br /></a>
    
    <!--<a  routerLinkActive="active-link" routerLink="/member/setup/raw-images"
        class="col-sm font-color">Raw Images
    </a>-->
  
    <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/manage" class="col-sm font-color">Manage
  <br /></a> -->
    <!--   
  <a routerLinkActive="active-link" routerLink="/beacon/manage/projects/project-dashboard/tender" class="col-sm font-color">Tender
    <br /> </a> -->
   


