<!--This page is used to customize Sales/Marketing steps as per the requirement-->
<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
      <div fxLayout="row wrap" style="margin-bottom:7px;">
          <div class="col-sm-6">
              <div class="pills w-100 flex-p">
                
              </div>
          </div>
          <div class="col-sm-6">
              <div class="w-100 flex-p">
                  <button mat-raised-button class="add-hover pull-right" style="background:#229494;color: white;"><mat-icon>add</mat-icon>&nbsp;Add
                      Category</button>
              </div>
          </div>
      </div>

      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead class="tbl-head">
                  <tr class="tr-grid-header">
                      <th>Category</th>
                      <th>Status</th>
                      <th >Actions</th>
                  </tr>
              </thead>
              <tbody>
               
                  <tr  *ngFor="let item of items">
                    <td>{{item.category_name}}</td>
                    <td><a style="color: blue;">Active</a></td>
                  
                  <td>
                      <a style="margin-right: 10px; cursor: pointer;">
                          <i title="Edit Step" class="fa fa-edit"></i>
                      </a>
                     
                      <a style="cursor: pointer;">
                          <i style="cursor: pointer;" title="Delete Step" class="fa fa-trash red"></i>
                      </a>
                  </td>
              </tr>
              
                     
              </tbody>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]"  showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>
