

<div class="form-group row"style="margin-top: 20px;">
  <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Enter New Width:&nbsp;</label>
  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
      <input type="text"class="form-control"  maxlength="100"  placeholder="Enter New Width " style="height: 100px;" required>
      <span>Enter multiple width with comma(,) seperated</span>
    
  </div>
  
  </div>


  <div class="form-group row" style="margin-top: 40px;">
  
    
    <mat-dialog-actions align="end" style="margin-left: 68%;">
      <button mat-raised-button class="btn-primary" >Save</button>
      <button mat-raised-button class="CancelClass" (click)="close()">Cancel</button>
    </mat-dialog-actions>
    </div>
<!--<div class="form-group row" style="margin-top: 40px;"><div class="form-group row">
  <label class="control-label col-sm-4 add-member-label" for="pwd">Select Width:&nbsp; </label>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <mat-checkbox  class="col-sm-4" [checked]="true" >2</mat-checkbox>
    <mat-checkbox  class="col-sm-4" [checked]="true">4</mat-checkbox>
    <mat-checkbox  class="col-sm-4" [checked]="true">6</mat-checkbox>
    <mat-checkbox  class="col-sm-4">8</mat-checkbox>
    <!-- <mat-checkbox class="col-sm-4" formControlName="BD">BD</mat-checkbox>
    <mat-checkbox  class="col-sm-4" [checked]="true" >10</mat-checkbox>
    
  </div>
  <mat-dialog-actions align="end" style="margin-left: 68%;">
    <button mat-raised-button class="btn-primary" >Save</button>
    <button mat-raised-button class="CancelClass" (click)="close()">Cancel</button>
  </mat-dialog-actions>
  </div>-->