<div fxLayout="row wrap" >
  <div class="table-responsive topmargin" style="width:100% !important;margin-top: 50px;">
      <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
              <tr class="tr-grid-header">
                  <th class="text-center">Category Name</th>
                  <th class="text-center">Product Name</th>
                  <th class="text-center">Filter</th>
                  <th class="text-center" >Status</th>
                  <th  class="text-center" style="min-width: 100px !important;">Actions</th>
              </tr>
          </thead>
          <tbody>
           
              <tr *ngFor="let item of items" >
                  <td class="text-center">{{item.category_name}}</td>
                  <td class="text-center" style="max-width: 300px !important; word-wrap: break-word !important;">{{item.product_name}}</td>
                  <td class="text-center">{{item.filter}}</td>
                  <td  class="text-center">
                      <a  style="color: blue;">
                          Status
                             </a>
                     
                  </td>
                 
                  <td  class="text-center">
                      <a  title="Edit" style="cursor: pointer; margin-right: 10px !important">
                          <i class="fa fa-edit" style="color: cornflowerblue"></i>
                      </a>
                      <a >
                          <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
      <mat-paginator  [pageSizeOptions]="[5, 10, 25, 50, 100]"  showFirstLastButtons></mat-paginator>
  </div>
</div>